# Ignore all but <sem>/<course>/*.md, <sem>/<course>/tut/*.md and <sem>/<course>/imgs/
*/

![0-9][0-9][0-9][0-9]_winter/
[0-9][0-9][0-9][0-9]_winter/*
![0-9][0-9][0-9][0-9]_winter/[a-z]*[0-9]*_*/
[0-9][0-9][0-9][0-9]_winter/[a-z]*[0-9]*_*/*
![0-9][0-9][0-9][0-9]_winter/[a-z]*[0-9]*_*/*.md
![0-9][0-9][0-9][0-9]_winter/[a-z]*[0-9]*_*/imgs/
![0-9][0-9][0-9][0-9]_winter/[a-z]*[0-9]*_*/tut
[0-9][0-9][0-9][0-9]_winter/[a-z]*[0-9]*_*/tut/*
![0-9][0-9][0-9][0-9]_winter/[a-z]*[0-9]*_*/tut/*.md
![0-9][0-9][0-9][0-9]_winter/[a-z]*[0-9]*_*/tut/imgs/

![0-9][0-9][0-9][0-9]_fall/
[0-9][0-9][0-9][0-9]_fall/*
![0-9][0-9][0-9][0-9]_fall/[a-z]*[0-9]*_*/
[0-9][0-9][0-9][0-9]_fall/[a-z]*[0-9]*_*/*
![0-9][0-9][0-9][0-9]_fall/[a-z]*[0-9]*_*/*.md
![0-9][0-9][0-9][0-9]_fall/[a-z]*[0-9]*_*/imgs/
![0-9][0-9][0-9][0-9]_fall/[a-z]*[0-9]*_*/tut
[0-9][0-9][0-9][0-9]_fall/[a-z]*[0-9]*_*/tut/*
![0-9][0-9][0-9][0-9]_fall/[a-z]*[0-9]*_*/tut/*.md
![0-9][0-9][0-9][0-9]_fall/[a-z]*[0-9]*_*/tut/imgs/

