# 1. Ignore everything by default
*
!.gitignore
!*/

# 2. Global file-type ignores
*.pdf
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.lof
*.lot
*.log
*.out
*.run.xml
*.synctex*
*.toc

# Semester folders
![0-9][0-9][0-9][0-9]_*/
[0-9][0-9][0-9][0-9]_*/*

# Course folders
![0-9][0-9][0-9][0-9]_*/[a-z]*[0-9]*_*/
[0-9][0-9][0-9][0-9]_*/[a-z]*[0-9]*_*/*

# Only allow specific things within course folders
![0-9][0-9][0-9][0-9]_*/[a-z]*[0-9]*_*/*.md
![0-9][0-9][0-9][0-9]_*/[a-z]*[0-9]*_*/imgs/
![0-9][0-9][0-9][0-9]_*/[a-z]*[0-9]*_*/imgs/**
![0-9][0-9][0-9][0-9]_*/[a-z]*[0-9]*_*/tut/
![0-9][0-9][0-9][0-9]_*/[a-z]*[0-9]*_*/tut/*.md
![0-9][0-9][0-9][0-9]_*/[a-z]*[0-9]*_*/tut/imgs/**
![0-9][0-9][0-9][0-9]_*/[a-z]*[0-9]*_*/aidsheet/
![0-9][0-9][0-9][0-9]_*/[a-z]*[0-9]*_*/aidsheet/imgs/**

